@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Roboto", Arial, sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

a {
  color: black;
}

button {
  cursor: pointer;
}

.is-hidden {
  display: none !important;
}

textarea {
  resize: vertical;
}

.active {
  text-decoration: underline;
  font-weight: bold;
}

main {
  padding: 12px;
  padding-top: 105px;
  padding-bottom: 200px;
}

.base-container {
  margin: 0 auto;
}

.main-heading {
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  color: #1ab248;
  margin-bottom: 16px;
}

.main-heading-descripiton {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 16px;
}

.group-title {
  font-size: 27px;
  line-height: 46px;
  font-weight: 700;
  color: #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 4px;
  margin-bottom: 12px;
}

.form-row {
  margin-bottom: 12px;
}

.form-row-title {
  display: inline-block;
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 16px;
  font-weight: 500;
}

.input-row {
  margin-bottom: 8px;
}

.input-row label {
  font-size: 18px;
  line-height: 20px;
  margin-left: 8px;
}

textarea,
input[type="date"],
input[type="email"],
input[type="text"] {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 13px 18px;
  width: 100%;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.telephone + button {
  margin-bottom: 12px;
}

input[name="phone"] + button {
  margin-top: 8px;
}

#add-email-btn,
.telephone + button,
input[name="email"] + button,
input[name="phone"] + button {
  background-color: transparent;
  border: none;
}

input[name="email"] + button {
  margin-top: 8px;
}

.not-necessary {
  color: gray;
}

.send,
button[type="submit"] {
  width: 100%;
  background-color: #232323;
  color: white;
  padding: 28px 20px;
  font-size: 20px;
  border: none;
  margin-top: 16px;
  font-weight: 700;
  cursor: pointer;
}

a.link {
  display: block;
  margin: 0 auto;
  background-color: rgb(37, 216, 24);
  letter-spacing: 1.2px;
  text-decoration: none;
  display: block;
  font-size: 20px;
  font-weight: 500;
  padding: 20px 20px;
  text-align: center;
  line-height: 1;
  background-clip: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 300px;
  min-width: auto;
  outline: none;
  color: white;
}

.img-container {
  margin-bottom: 500px;
}

.img-content {
  transform: scale(1.2);
}

@media screen and (min-width: 769px) {
  main {
    padding-top: 105px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 300px;
  }

  .main-heading,
  .main-heading-descripiton {
    max-width: 690px;
  }

  .main-heading {
    font-size: 42px;
    line-height: 49px;
    font-weight: 400;
  }

  .main-heading-descripiton {
    line-height: 27px;
    margin-bottom: 60px;
  }

  .base-container {
    max-width: 1200px;
  }

  .form-row {
    display: flex;
    align-items: center;
  }

  .input-row {
    display: inline-block;
    margin-right: 32px;
  }

  .form-row-title {
    width: 180px;
    margin-right: 40px;
  }

  .group-title {
    margin-bottom: 30px;
  }

  textarea,
  input[type="date"],
  input[type="email"],
  input[type="text"] {
    width: 400px;
  }

  #phone-row-2,
  #phone-row-3,
  #email-row-2,
  #email-row-3 {
    margin-left: 222px;
  }

  #add-phone-btn {
    margin-left: 412px;
    transform: translateY(-12px);
  }

  #add-email-btn {
    margin-left: 432px;
    transform: translateY(-12px);
  }

  #email-row-2 .input-row,
  #email-row-3 .input-row,
  #phone-row-2 .input-row,
  #phone-row-3 .input-row {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .send,
  button[type="submit"] {
    width: 100%;
    background-color: #232323;
    color: white;
    padding: 28px 20px;
    font-size: 20px;
    border: none;
    margin-top: 16px;
    font-weight: 700;
    max-width: 620px;
    display: block;
    margin: 0 auto;
  }

  .submit-btn-form2 p,
  .submit-btn p {
    display: block;
    text-align: center;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
  }

  .img-content {
    position: relative;
    transform: none;
  }

  a.link {
    position: absolute;
    background-color: rgb(37, 216, 24);
    letter-spacing: 1.2px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 20px;
    text-align: center;
    line-height: 1;
    background-clip: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 300px;
    min-width: auto;
    outline: none;
    top: 50%;
    left: 8%;
    color: white;
  }

  .img-container img {
    display: block;
    margin: 0 auto;
  }
}
